<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <!--<welcome-file-list>-->
        <!--<welcome-file>HomePage.jsp</welcome-file>-->
    <!--</welcome-file-list>-->

　　<session-config>
　　     <session-timeout>5</session-timeout>
　　</session-config>

    <servlet>
        <servlet-name>ServletUpload</servlet-name>
        <servlet-class>servlet.ServletUpload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletLogin</servlet-name>
        <servlet-class>servlet.ServletLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletRegister</servlet-name>
        <servlet-class>servlet.ServletRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadHandleServlet</servlet-name>
        <servlet-class>servlet.UploadHandleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadHandleServlet</servlet-name>
        <servlet-class>servlet.DownloadHandleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PicHandleServlet</servlet-name>
        <servlet-class>servlet.PicHandleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PicShowServlet</servlet-name>
        <servlet-class>servlet.PicShowServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserShowServlet</servlet-name>
        <servlet-class>servlet.UserShowServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserPhotoServlet</servlet-name>
        <servlet-class>servlet.UserPhotoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PicDeleteServlet</servlet-name>
        <servlet-class>servlet.PicDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserInfoServlet</servlet-name>
        <servlet-class>servlet.UserInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDeleteServlet</servlet-name>
        <servlet-class>servlet.UserDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PicOfUserServlet</servlet-name>
        <servlet-class>servlet.PicOfUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileShowServlet</servlet-name>
        <servlet-class>servlet.FileShowServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signFilesServlet</servlet-name>
        <servlet-class>servlet.signFilesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileDeleteServlet</servlet-name>
        <servlet-class>servlet.FileDeleteServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>servlet.SearchServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/searchHandle</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>FileDeleteServlet</servlet-name>
        <url-pattern>/fileDeleteHandle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signFilesServlet</servlet-name>
        <url-pattern>/signFilesHandle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileShowServlet</servlet-name>
        <url-pattern>/fileShowHandle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PicOfUserServlet</servlet-name>
        <url-pattern>/picOfUserHandle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDeleteServlet</servlet-name>
        <url-pattern>/userDeleteHandle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserInfoServlet</servlet-name>
        <url-pattern>/userInfoHandle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PicDeleteServlet</servlet-name>
        <url-pattern>/photoDeleteHandle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserPhotoServlet</servlet-name>
        <url-pattern>/userPhotoHandle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserShowServlet</servlet-name>
        <url-pattern>/userShowHandle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PicShowServlet</servlet-name>
        <url-pattern>/picShowHandle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PicHandleServlet</servlet-name>
        <url-pattern>/picHandle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadHandleServlet</servlet-name>
        <url-pattern>/downloadHandle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadHandleServlet</servlet-name>
        <url-pattern>/uploadHandle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletUpload</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletLogin</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletRegister</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>


</web-app>


